<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="tmkE+GosEe/FoJxJWP/hef1WwT2XM+upqOxKAKmcsUHXR+VDvBVaOU6rcGSrSEQ8WK4HllVmZP+goUrbEzHAKw==">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://beta.crimpcloud.com/assets/favicon-e06c553d83a0217f00c3971630aa2ca84fd4663c5d41f5bdff238f40e31967b9.png">
    <title>CrimpCloud</title>
    <link href="//use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/public-esoterica/icons/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/public-esoterica/icons/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="style.css"
    <link rel="stylesheet" media="all" href="assets/application-9c515536057c4334a2118b8b8de00c11ba6d2aa5e5257082b71f67547cfd1085.css">
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="/assets/application-28f8d6aede6f24bf6726accede467a68ba05d5e0ebee04ed70fd51f01fe46da8.js" data-turbolinks-track="false"></script><style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesnt work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-93893148-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-93893148-5');
    </script>


     <script>
        echarts.registerTheme('conti', {
      "color": [
        '#ffa500',
        '#00a5dc',
        '#2db928',
        '#ff2d37',
        '#B92FA2',
        '#004eaf',
        '#000000'
      ]     
    });
    </script>
<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style><style>body.tablesorter-disableSelection { -ms-user-select: none; -moz-user-select: -moz-none;-khtml-user-select: none; -webkit-user-select: none; user-select: none; }.tablesorter-resizable-container { position: relative; height: 1px; }.tablesorter-resizable-handle { position: absolute; display: inline-block; width: 8px;top: 1px; cursor: ew-resize; z-index: 3; user-select: none; -moz-user-select: none; }</style></head>
<div class="container-fluid">


            <div class="container">
               <div class="row">
    <h2>Crimper Training Videos</h2>
</div>
<div class="row pt-2">
    <div class="col-lg-4 col-sm-12">
        <div class="card h-45">
            <div class="card-header p-0">
                <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://cdn.jwplayer.com/players/gbXCUwXC-nrJ3u7pw.html" width="100%" height="100%" frameborder="0" scrolling="auto" allowfullscreen="" style="position:absolute;"></iframe>
                    
                </div>
            </div>
            <div class="card-body">
                <h4>CrimpIQ Controller Series - Beginning an Industrial Crimp</h4>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card h-45">
            <div class="card-header p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://cdn.jwplayer.com/players/8b6jSia6-nrJ3u7pw.html" width="100%" height="100%" frameborder="0" scrolling="auto" allowfullscreen="" style="position:absolute;"></iframe>
                </div>
            </div>
            <div class="card-body">
                <h4>CrimpIQ Controller Series - Intro to CrimpIQ and CrimpCloud</h4>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card h-45">
            <div class="card-header p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://cdn.jwplayer.com/players/IQJuuIS3-nrJ3u7pw.html" width="100%" height="100%" frameborder="0" scrolling="auto" allowfullscreen="" style="position:absolute;"></iframe>
                </div>
            </div>
            <div class="card-body">
                <h4>CrimpIQ Controller Series - Set Up Bluetooth or USB Calipers</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="card h-45">
            <div class="card-header p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://cdn.jwplayer.com/players/QkZgDyEb-nrJ3u7pw.html" width="100%" height="100%" frameborder="0" scrolling="auto" allowfullscreen="" style="position:absolute;"></iframe>
                </div>
            </div>
            <div class="card-body">
                <h4>CrimpIQ Controller Series - Performing Maintence</h4>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card h-45">
            <div class="card-header p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://cdn.jwplayer.com/players/SwZY4OXL-nrJ3u7pw.html" width="100%" height="100%" frameborder="0" scrolling="auto" allowfullscreen="" style="position:absolute;"></iframe>
                </div>
            </div>
            <div class="card-body">
                <h4>CrimpIQ Controller Series - Loading Specifications from MyCrimp</h4>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card h-45">
            <div class="card-header p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://cdn.jwplayer.com/players/s5fBKWPT-nrJ3u7pw.html" width="100%" height="100%" frameborder="0" scrolling="auto" allowfullscreen="" style="position:absolute;"></iframe>
                </div>
            </div>
            <div class="card-body">
                <h4>CrimpIQ Controller Series - Beginning a Hydralic Crimp</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="card h-45">
            <div class="card-header p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://cdn.jwplayer.com/players/GF4HbHfF-nrJ3u7pw.html" width="100%" height="100%" frameborder="0" scrolling="auto" allowfullscreen="" style="position:absolute;"></iframe>
                </div>
            </div>
            <div class="card-body">
                <h4>CrimpIQ Controller Series - Crimp Operations</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="row pt-5">
    <h2>Crimper with CrimpIQ Operator Manuals</h2>
</div>
<div class="row pt-2">
    <div class="col-lg-3 col-sm-12">
        <div class="card">
            <div class="card-header p-0">
                <img class="w-100  img-fluid" src="assets/pc200i-5e1fd0684b27629e44eaa36de76afea5ce4b8c1634efb7206983b7ebf97a2871.png" alt="Pc200i">
            </div>
            <div class="card-body p-0">
                <a href="assets/Continental_PC200i_Operator_Manual_11202018-45d4eb04c347ab8e7288de8b4822abd4f4bf6ed333368375a7df584c13c57f16.pdf" target="_blank" class="btn btn-warning w-100">PC200i</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="card">
            <div class="card-header p-0">
                <img class="w-100  img-fluid" src="assets/pc440i-e5cb69b883e5d91f249a48f757c757e296104c7c6d8349bc5b00c8b79c34f2e9.png" alt="Pc440i">
            </div>
            <div class="card-body p-0">
                <a href="assets/Continental_PC440i_Operator_Manual_11202018-5263d00d0f100e9eb30cd59843e286ebeff0b51d4c64c6c9b28ed7ce7fd9649d.pdf" target="_blank" class="btn btn-warning w-100">PC440i</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="card">
            <div class="card-header p-0">
                <img class="w-100  img-fluid" src="assets/pc600i-bb64a6e59a9a53a13e1e288bf2f196f6c90ea83bda5e2d64ca7a64edc509c781.png" alt="Pc600i">
            </div>
            <div class="card-body p-0">
                <a href="assets/Continental_PC600i_Operator_Manual_11212018-9b855a06ed6551d9e0032a633d31b890b131157cba5a05c658cce32a3c41b344.pdf" target="_blank" class="btn btn-warning w-100">PC600i</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="card">
            <div class="card-header p-0">
                <img class="w-100  img-fluid" src="assets/pc1000i-5d64d00d95d9a902cb545e4a98cc53c7384745b9bfebe154068e6cf77a0c65f5.png" alt="Pc1000i">
            </div>
            <div class="card-body p-0">
                <a href="assets/Continental_PC1000i_Operator_Manual_11212018-f067bf8c7b9195713ff4008cb912800c27f66667fb09b370c2508f6c35665f98.pdf" class="btn btn-warning w-100" target="_blank">PC1000i</a>
            </div>
        </div>
    </div>
</div>
             </div>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

        </div>